<h2 class="title">
  <%= @name %>
</h2>

<h3>Movies:</h3>
<table>
  <tr>
    <td><h3>Movie</h3></td>
    <td><h3>Character</h3></td>
  </tr>
    <% @actor.each do |movie| %>
      <tr>
        <td><a href="/movies/<%= movie['id'] %>"><%= movie['title'] %></a></td>
        <td><%= movie['character'] %></td>
      </tr>
    <% end %>
</table>
